@use "../base";

/************************************************************************ Navigation */
.main-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  padding: 16px;
  background-color: base.$main-yellow;
  border-bottom: 1px solid base.$main-black;
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  a {
    margin: 0 12px;
    padding: 8px;
    border-radius: 2px;
    color: base.$main-black;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
  }
  a:hover {
    background-color: base.$main-black;
    color: base.$main-yellow;
  }
  img {
    width: 20px;
  }
}
.nav-toggler {
  display: none;
}

/************************************ Responsive */
@media (max-width: 1024px) {
  .main-nav a {
    font-size: base.$fs-14;
    padding: 6px;
  }
}
@media (max-width: 525px) {
  .main-nav {
    display: flex;
    order: 1;
    ul {
      padding: 52px 0px 20px;
      display: none;
      flex-direction: column;
      li {
        margin: 6px 0px;
      }
    }
    &.active ul {
      display: flex;
    }
  }
  .nav-toggler {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    align-self: baseline;
    background: none;
    border: none;
    cursor: pointer;
  }
}
