@use "../base";
@use "../global/global";
@use "../layout/navbar";
@use "../components/hero";
@use "../components/card-mixins";
@use "../components/animations";

/************************************************************************ About */
.about {
  padding: 50px 20px 125px;
  background-color: base.$main-white;
  &-content {
    display: flex;
  }
  &-text {
    width: 60%;
    margin-right: 96px;
    .heading-h3 {
      margin-bottom: 12px;
    }
    p {
      font-size: base.$fs-16;
      line-height: 1.4;
    }
    p:not(:last-of-type) {
      margin-bottom: 44px;
    }
  }
  &-slideshow {
    width: 40%;
    img {
      grid-area: 1/1/2/2;
      width: 100%;
      border-radius: 4px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
      &.active {
        opacity: 1;
        visibility: visible;
        z-index: 10;
      }
    }
  }
}

.slideshow-images-container {
  margin: 12px 0px;
  display: grid;
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid base.$main-black;
  background-color: base.$main-white;
  &.active {
    background-color: base.$main-black;
  }
}

/************************************ Responsive */
@media (max-width: 1024px) {
  .about {
    padding: 50px 20px 100px;
    &-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-text {
      width: 100%;
      margin-right: 0;
    }
    &-slideshow {
      width: 75%;
    }
  }
  .slideshow-images-container {
    margin: 72px auto 12px;
  }
}
@media (max-width: 750px) {
  .about-text p {
    font-size: base.$fs-14;
  }
}
@media (max-width: 525px) {
  .about {
    padding: 40px 14px 100px;
    &-slideshow {
      width: 100%;
    }
  }
}

/************************************************************************ Prestations */
.prestations {
  padding: 50px 10px 150px;
  background-color: base.$main-black;
  .section-title,
  .section-subtitle {
    color: base.$main-white;
  }
  .section-subtitle::first-letter {
    text-transform: uppercase;
  }
  .section-title img {
    transform: rotate(7.5deg);
  }
  &-container {
    display: flex;
    justify-content: center;
  }
  &-card {
    @include card-mixins.card;
    &:nth-child(1) {
      margin-right: 16px;
    }
    &:nth-child(2) {
      margin-left: 16px;
    }
  }
  &-category-title {
    @include card-mixins.card-title;
  }
  &-list {
    @include card-mixins.card-prestations;
  }
}
/************************************ Responsive */
@media (max-width: 1024px) {
  .prestations-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .prestations-card {
    max-width: 530px;
  }
  .prestations-card:nth-child(1) {
    margin-right: 0;
    margin-bottom: 36px;
  }
  .prestations-card:nth-child(2) {
    margin-left: 0;
  }
}
@media (max-width: 525px) {
  .prestations {
    padding: 48px 16px 96px;
  }
  .prestations-category-title {
    font-size: base.$fs-20;
    margin-bottom: 36px;
  }
  .prestations-category-title img {
    width: 30px;
  }
  .prestations-card {
    padding: 24px 24px 64px;
  }
  .prestations-card h4 {
    font-size: base.$fs-16;
  }
  .prestations-card p {
    font-size: base.$fs-14;
  }
}

/************************************************************************ Team */
.team {
  padding: 48px 12px 150px;
  background-color: base.$main-white;
  &-card {
    @include card-mixins.team-card;
  }
  .section-subtitle {
    margin-bottom: 28px;
  }
}
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.card {
  &-content {
    padding: 16px;
  }
  &-name {
    font-size: base.$fs-20;
  }
}
.top-card-content {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  img {
    width: 24px;
    cursor: pointer;
  }
  a:nth-child(2) {
    margin-left: auto;
    margin-right: 8px;
  }
}
/************************************ Responsive */
@media (max-width: 1024px) {
  .team {
    padding: 48px 16px 96px;
  }
}
@media (max-width: 750px) {
  .team-card {
    width: 100%;
    max-width: 444px;
  }
}

/************************************************************************ Testimonials */
.testimonial {
  &-section {
    background-image: url(../assets/images/testimonial.jpg);
    background-size: cover;
    background-position: 0 80%;
    padding: 84px;
  }
  &-text {
    font-family: base.$title-font;
    font-size: base.$fs-36;
    margin-bottom: 8px;
  }
  &-author {
    font-size: base.$fs-20;
  }
}
.text {
  &-slideshow-container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
  &-slide {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    padding: 44px;
  }
}
.sliding-container {
  display: flex;
  color: base.$main-white;
  @include animations.anim-carousel;
}
/************************************ Responsive */
@media (max-width: 1024px) {
  .text-slideshow-container {
    max-width: 750px;
  }
  .testimonial {
    &-section {
      padding: 44px;
    }
    &-text {
      font-size: base.$fs-30;
    }
    &-author {
      font-size: base.$fs-16;
    }
  }
}
@media (max-width: 750px) {
  .text-slideshow-container {
    max-width: 600px;
  }
  .testimonial-text {
    font-size: base.$fs-20;
  }
}
@media (max-width: 525px) {
  .text {
    &-slideshow-container {
      max-width: 100%;
      margin: 0;
    }
    &-slide {
      padding: 36px 0;
    }
  }
  .testimonial {
    &-section {
      padding: 40px 2px;
    }
    &-text {
      font-size: base.$fs-18;
    }
  }
}

/************************************************************************ Contact */
.contact {
  padding: 50px 20px 150px;
  background-color: base.$main-yellow;
  &-content {
    display: flex;
    justify-content: center;
  }
}
.address-block {
  background-color: base.$main-black;
  padding: 20px;
  border-radius: 8px;
  color: base.$main-yellow;
  width: 350px;
  &:nth-child(1) {
    margin-bottom: 16px;
  }
  p:nth-child(1) {
    font-size: base.$fs-18;
    margin-bottom: 12px;
  }
  p:nth-child(2) {
    margin-bottom: 36px;
  }
  p:nth-child(3) {
    margin-bottom: 12px;
  }
  img {
    width: 24px;
  }
  a:not(:last-of-type) {
    margin-right: 10px;
  }
}

.schedule {
  margin-left: 44px;
  &-table {
    p {
      display: flex;
      justify-content: space-between;
      margin: 12px 0;
      padding-bottom: 6px;
      &:not(:last-of-type) {
        border-bottom: 1px solid base.$main-black;
      }
      span:nth-child(1) {
        font-weight: 900;
      }
    }
  }
}
/************************************ Responsive */
@media (max-width: 750px) {
  .contact-content {
    flex-direction: column;
  }
  .address-block {
    width: 100%;
  }
  .schedule {
    margin: 0;
  }
  .schedule-table,
  .address-block {
    max-width: 450px;
    margin: auto;
  }
  .addresses {
    margin-bottom: 36px;
  }
}
@media (max-width: 525px) {
  .contact {
    padding: 30px 20px 90px;
  }
  .addresses .address-block p,
  .schedule p {
    font-size: base.$fs-14;
  }
  .address-block {
    img {
      width: 20px;
    }
    a:not(:last-of-type) {
      margin-right: 6px;
    }
  }
}

/************************************************************************ Footer */
footer {
  padding: 12px;
  text-align: center;
  background-color: base.$main-black;
  a {
    color: base.$main-white;
  }
}